body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
.info {
  padding: 120px;
  background-color: #def0ff;
  color: #0f4c92;
}

.container__info {
  width: 745px;
  margin: 0 auto;
  text-align: center;
}

.info h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.18;
  margin-bottom: 40px;
}

.info p {
  font-size: 18px;
  line-height: 1.22;
}
